<template>
  <div id="div-bokeh" v-html="bokehDiv"></div>
</template>
<script>
export default {
  data(){
    return{
      bokehDiv: "",
    }
  },
  created(){
    this.$http.get("http://localhost:5000")
      .then( (res) => {
        let script = document.createElement("script")
        script.setAttribute("type", "text/javascript")
        script.innerHTML = res.data.res.script

        document.querySelector("#div-bokeh").parentNode.appendChild(script)

        this.bokehDiv = res.data.res.div
      } )
  }
}

</script>
<style>

</style>
